<section class="summercamp thin" id="summercamp">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Summer Camp</h2>
      </div>
    </div>
  </div>
</section>
<section id="decouvertessonores" class="summercamp pt-20">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      Date :    <ul><li>Du mercredi 8 au vendredi 10 juillet</li>
      </ul>
      <p>Lieu : <b>Médiathèque André Malraux 1 Presqu’île Malraux, 67100 Strasbourg</b>
      Evénement gratuit. <a href="http://goo.gl/forms/3PAvqpXkdd">Réservation</a><br>
      Le Coding Club Summer Camp est un stage qui permet à des lycéens de s'initier à la programmation. Ce stage sera dédié aux objets connectés (smartphones, capteurs divers, NFC/RFID, ...).<br>
      Les ateliers d'apprentissage seront animés par des étudiants d'Epitech et le staff Alsace Digitale. <br>
      Apprenez à votre rythme et dans une ambiance festive: de nombreuses animations seront proposées tout au long de ce stage!<br>
      [Tongues acceptées!]
      </p>
      </br>
    </div>
  </div>
</section>

